<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="iBeaconPlugin"
    version="0.1.0">
    <name>iBeacon</name>
    <description>iBeacon Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,iBeacon</keywords>

    <js-module src="www/iBeacon.js" name="iBeacon">
        <clobbers target="window.iBeacon" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IBeaconsPlugins">
                <param name="android-package" value="me.habel.iBeaconPlugin.IBeaconsPlugins"/>
            </feature>
        </config-file>

        <source-file src="src/android/IBeaconsPlugins.java" target-dir="src/me/habel/IBeaconPlugin"/>
     </platform>
</plugin>
