<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="me.habel.iBeaconPlugin"
      version="0.1.0">
    <name>iBeacon</name>
    <description>iBeacon Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,iBeacon</keywords>


    <js-module src="www/iBeacon.js" name="iBeacon">
        <clobbers target="window.iBeacon" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="iBeacon">
                <param name="android-package" value="me.habel.iBeaconPlugin.iBeaconsPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/me/habel/iBeaconPlugin/iBeaconsPlugin.java" target-dir="src/me/habel/iBeaconPlugin" />      
     </platform>          
</plugin>